[submodule "nvim"]
	path = nvim
	url = git@github.com:piraz/nvim.init.git
	branch = master
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:piraz/wezterm.config.git
	branch = master
[submodule "zsh"]
	path = zsh
	url = git@github.com:piraz/zsh.config.git
	branch = master
